.button {
    -fx-background-color:
            #000000,
            linear-gradient(#7ebcea, #2f4b8f),
            linear-gradient(#426ab7, #263e75),
            linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.button:hover {
    -fx-background-color: #383838;
    -fx-scale-y: 1.1;
}

.button:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

.button Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
}

.gridpane {
    -fx-background-color: #fafaf5;
}

#title {
    -fx-font-size: 24px;
    -fx-font-family: "Courier New", Courier, monospace;
}

#filePath, #high, #low, #mean, #median, #mode, #numEntries {
    -fx-font-family: "Courier New", Courier, monospace;
}

#display {
    -fx-max-height: 100px;
}

#barChart{
    -fx-max-height: 400px;
    -fx-padding: 15px 0 15px 0;
}

.chart-bar {
    -fx-bar-fill: #2f4b8f;
}